/* DO NOT REMOVE MARKERS: BEGIN_COMPACT_SYNC, END_COMPACT_SYNC */
/* BEGIN_COMPACT_SYNC: geist-font */
@font-face {
  font-family: "Geist Mono";
  src: url("https://cdn.jsdelivr.net/npm/geist@1.3.0/dist/fonts/geist-mono/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
}
/* END_COMPACT_SYNC: geist-font */

/* BEGIN_COMPACT_SYNC: root */
:root {
  --ifm-font-family-monospace: "Geist Mono", monospace;
}
/* END_COMPACT_SYNC: root */

/* BEGIN_COMPACT_SYNC: code-and-lang-ref */
.lang-ref code {
  font-family: var(--ifm-font-family-monospace);
  font-variant-ligatures: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  vertical-align: baseline !important;
  background-color: transparent;
  padding: 2px;
  border-radius: 0;
  border: none;
}

/* The following table is specific to the Compact reference document */
.lang-ref-table {
  border-collapse: separate;
  border-spacing: 0;
  padding-left: 20px;
  --ifm-table-stripe-background: none;
}

.lang-ref-table thead {
  display: none
}

.lang-ref-table tbody tr {
  border: none;
}

.lang-ref-table td,
.lang-ref-table th {
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.lang-ref-table td:nth-child(2) {
  text-align: center; /* Right-align the middle column */
}
/* END_COMPACT_SYNC: code-and-lang-ref */
